*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding: 20px 100px;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-text {
    width: 60rem;
}

h1 {
   color: #333;
   font-size: 6rem;
   font-weight: bold;
}

span {
    color: #017143;
    font-size: 7rem;
    font-weight: 900;
}

p {
    font-size: 1.6rem;
}

button {
    background-color: #017143;
    color: #ffffff;
    border-radius: 40px;
    border: none;
    padding: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #00502f
}